<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Data</title>
</head>
<body>
    <h1>User Data</h1>
    <h2><%= user.name %></h2>
    <div class="table">
        <div>Username: <%= user.username %></div>
        <div>Email: <%= user.email %></div>
        <div>Address: <%= `${user.address.street} ${user.address.suite},  ${user.address.city}` %></div>
        <div>Zipcode: <%= user.address.zipcode %></div>
    </div>
</body>
</html>